@inherits Constellation.Foundation.Mvc.EditorCompatibleView<Feature.Content.Models.ContentSectionModel>

<div class="row">
	<div class="col-12">
		<h2>@Model.Heading</h2>
		<div class="rich-text">@Model.Copy</div>
		@if (this.IsEditing || !string.IsNullOrEmpty(Model.TrailingLink.Url))
		{
			<div class="mb-4">
				<a class="btn btn-primary" href="@Model.TrailingLink.Url" target="@Model.TrailingLink.Target">@Model.TrailingLink.Text</a>
			</div>
		}
	</div>
</div>

