@inherits Constellation.Foundation.Mvc.EditorCompatibleView<Feature.PrimaryContent.Models.ContentRowActionsModel>

@{
	var renderPrimary = Model.PrimaryLink?.Url.Length > 0;
	var renderSecondary = Model.SecondaryLink?.Url.Length > 0;
}

@if (IsEditing || renderPrimary || renderSecondary)
{
<aside class="buttons-row">
	@if (IsEditing)
	{
		@Model.PrimaryLink.Rendered
		@Model.SecondaryLink.Rendered
	}
	else
	{
		if (renderPrimary)
		{
			<a href="@Model.PrimaryLink.Url" title="@Model.PrimaryLink.Title" target="@Model.PrimaryLink.Target" class="btn btn--primary">
				@Model.PrimaryLink.Text
			</a>
		}

		if (renderSecondary)
		{
			<a href="@Model.SecondaryLink.Url" title="@Model.SecondaryLink.Title" target="@Model.SecondaryLink.Target" class="btn btn--primary">
				@Model.SecondaryLink.Text
			</a>
		}
	}
</aside>
}

