@using Sitecore.Mvc
@inherits Constellation.Foundation.Mvc.EditorCompatibleView<Feature.PrimaryContent.Models.ContentRowModel>
<section class="content-row content-row--media-align-left ">
	<figure class="content-row__media">@Html.Sitecore().DynamicPlaceholder("ContentSectionMedia")</figure>
	<div class="content-row__content">
		<header>
			<h2 class="content-row__headline">@Model.Heading</h2>
			@if (IsEditing || Model.Subheading?.ToString().Length > 0)
			{
				<h3 class="content-row__subhead">@Model.Subheading</h3>
			}
		</header>
		<div class="content-row__description rtf">@Model.Copy</div>
		@Html.Sitecore().DynamicPlaceholder("ContentRowActions")
	</div>
</section>