@inherits Constellation.Foundation.Mvc.EditorCompatibleView<Feature.PrimaryContent.Models.ContentRowActionsModel>

@{
	var renderPrimary = !string.IsNullOrEmpty(Model.PrimaryLink.Url);
	var renderSecondary = !string.IsNullOrEmpty(Model.SecondaryLink.Url);
}

@if (IsEditing || renderPrimary || renderSecondary)
{
<aside class="content-row__actions">
	@if (IsEditing)
	{
		@Model.PrimaryLink.Rendered
		@Model.SecondaryLink.Rendered
	}
	else
	{
		if (renderPrimary)
		{
			<a href="@Model.PrimaryLink.Url" title="@Model.PrimaryLink.Title" target="@Model.PrimaryLink.Target" class="btn btn--primary">
				@Model.PrimaryLink.Text
			</a> 
		}

		if (renderSecondary)
		{
			<a href="@Model.SecondaryLink.Url" title="@Model.SecondaryLink.Title" target="@Model.SecondaryLink.Target" class="link link--primary">
				@Model.SecondaryLink.Text
				<svg viewBox="0 0 6 10" class="link__icon link__icon--right">
					<use xlink:href="#chevron-right" />
				</svg>
			</a>
		}
	}
</aside>
}