@inherits Constellation.Foundation.Mvc.EditorCompatibleView<Feature.PrimaryContent.Models.ContentRowMediaModel>
	
<div class="video" data-module="@Model.VideoProvider.ProviderID" data-video-id="@Model.VideoID">
	<div class="video__background"></div>
	<picture class="video__poster">
		<source media="(max-width: 767px)" srcset="@Model.SectionImage.GetCustomWidthImageSrc(767)">
		<source media="(max-width: 1279px)" srcset="@Model.SectionImage.GetCustomWidthImageSrc(1279)">
		<img src="@Model.SectionImage.GetCustomWidthImageSrc(760)" alt="@Model.SectionImage.Alt" loading="lazy">
	</picture>
	<svg viewBox="0 0 495 495"><use xlink:href="#play"/></svg>
	<script src="https://player.vimeo.com/api/player.js"></script>
</div>