@inherits Constellation.Foundation.Mvc.EditorCompatibleView<Feature.Content.Models.ContentSectionModel>
<h3>@Model.Heading</h3>
<div>@Model.Copy</div>
@if (this.IsEditing || !string.IsNullOrEmpty(Model.TrailingLink.Url))
{
	<div>
		<a href="@Model.TrailingLink.Url" target="@Model.TrailingLink.Target">@Model.TrailingLink.Text</a>
	</div>
}
