@inherits Constellation.Foundation.Mvc.EditorCompatibleView<Feature.Mastheads.Models.MastheadMediaModel>
@{
	var providerID = string.Empty;

	if (Model.VideoProvider != null)
	{
		providerID = Model.VideoProvider.ProviderID;
	}
}

<div class="video" data-module="video" data-video-player="@providerID" data-video-id="@Model.VideoID" data-video-auto-play="false">
	<div class="video__background"></div>
	
	@if (!string.IsNullOrEmpty(Model.MastheadImage.Src))
	{
		<picture class="video__poster">
			@if (Model.MastheadImage.IsContentHubContent)
			{
				<source media="(max-width: 767px)" srcset="@Model.MastheadImage.GetContentHubTransformationSrc("w767")">
				<source media="(max-width: 1279px)" srcset="@Model.MastheadImage.GetContentHubTransformationSrc("w1279")">
				<img src="@Model.MastheadImage.GetContentHubTransformationSrc("w760")" alt="@Model.MastheadImage.Alt" loading="lazy">
			}
			else
			{
				<source media="(max-width: 767px)" srcset="@Model.MastheadImage.GetCustomWidthImageSrc(767)">
				<source media="(max-width: 1279px)" srcset="@Model.MastheadImage.GetCustomWidthImageSrc(1279)">
				<img src="@Model.MastheadImage.GetCustomWidthImageSrc(760)" alt="@Model.MastheadImage.Alt" loading="lazy">
			}
		</picture>
	}
	<svg viewBox="0 0 495 495">
		<use xlink:href="#play"/>
	</svg>
</div>