@using Sitecore.Mvc
@inherits Constellation.Foundation.Mvc.EditorCompatibleView<Feature.Mastheads.Models.MastheadModel>

<header>
    <div class="page-header min-vh-100">
        <div class="oblique position-absolute top-0 h-100 d-md-block d-none">
            @if (Model.FeaturedImage != null)
            {
                <div class="oblique-image bg-cover position-absolute fixed-top ms-auto h-100 z-index-0 ms-n6" style="background-image: url('@Model.FeaturedImage.Src')"></div>
            }
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
                    <h1 class="text-gradient text-primary">@Model.Heading</h1>
                    @if (IsEditing || Model.Subheading.ToString().Length > 0)
                    {
                        <h1 class="mb-4">@Model.Subheading</h1>
                    }
                    <p class="lead pe-5 me-5">@Model.IntroCopy</p>
                    <div class="buttons">
                        @Html.Sitecore().DynamicPlaceholder("MastheadActions")
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>